<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Rob Enloe Card</mat-card-title>
    <mat-card-subtitle>Angular 15 - Material UI</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://angular.io/assets/images/logos/angular/angular.svg"
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      vestibulum volutpat turpis, nec tempor nisi rhoncus iaculis. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Donec a posuere mauris. Donec ut blandit sem. Proin efficitur
      aliquet nunc ac aliquet. Integer auctor tellus arcu, quis pulvinar lectus
      interdum ut. Etiam sit amet posuere nibh, et pharetra urna. Maecenas vel
      venenatis nisi, ut molestie ex. Etiam hendrerit libero elit. Aliquam erat
      volutpat. In pellentesque eget nulla vel viverra. Duis faucibus tincidunt
      eleifend. Etiam ac ultrices ipsum. Curabitur pretium, libero efficitur
      ornare vestibulum, erat elit vestibulum risus, ut facilisis est magna at
      arcu. Nulla facilisi. Aenean congue ex vel nulla sollicitudin tempor. Sed
      vel pharetra risus. Cras vehicula gravida venenatis. Integer ultrices
      dictum odio, sed semper tortor ultrices in.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
    <button mat-button><mat-icon>share</mat-icon>Share</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Rob Enloe Card</mat-card-title>
    <mat-card-subtitle>Angular 15 - Material UI</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-sm-image
    src="https://angular.io/assets/images/logos/angular/angular.svg"
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      vestibulum volutpat turpis, nec tempor nisi rhoncus iaculis. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Donec a posuere mauris. Donec ut blandit sem. Proin efficitur
      aliquet nunc ac aliquet. Integer auctor tellus arcu, quis pulvinar lectus
      interdum ut. Etiam sit amet posuere nibh, et pharetra urna. Maecenas vel
      venenatis nisi, ut molestie ex. Etiam hendrerit libero elit. Aliquam erat
      volutpat. In pellentesque eget nulla vel viverra. Duis faucibus tincidunt
      eleifend. Etiam ac ultrices ipsum. Curabitur pretium, libero efficitur
      ornare vestibulum, erat elit vestibulum risus, ut facilisis est magna at
      arcu. Nulla facilisi. Aenean congue ex vel nulla sollicitudin tempor. Sed
      vel pharetra risus. Cras vehicula gravida venenatis. Integer ultrices
      dictum odio, sed semper tortor ultrices in.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
    <button mat-button><mat-icon>share</mat-icon>Share</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Rob Enloe Card</mat-card-title>
    <mat-card-subtitle>Angular 15 - Material UI</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-md-image
    src="https://angular.io/assets/images/logos/angular/angular.svg"
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      vestibulum volutpat turpis, nec tempor nisi rhoncus iaculis. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Donec a posuere mauris. Donec ut blandit sem. Proin efficitur
      aliquet nunc ac aliquet. Integer auctor tellus arcu, quis pulvinar lectus
      interdum ut. Etiam sit amet posuere nibh, et pharetra urna. Maecenas vel
      venenatis nisi, ut molestie ex. Etiam hendrerit libero elit. Aliquam erat
      volutpat. In pellentesque eget nulla vel viverra. Duis faucibus tincidunt
      eleifend. Etiam ac ultrices ipsum. Curabitur pretium, libero efficitur
      ornare vestibulum, erat elit vestibulum risus, ut facilisis est magna at
      arcu. Nulla facilisi. Aenean congue ex vel nulla sollicitudin tempor. Sed
      vel pharetra risus. Cras vehicula gravida venenatis. Integer ultrices
      dictum odio, sed semper tortor ultrices in.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
    <button mat-button><mat-icon>share</mat-icon>Share</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
  <mat-card-header>
    <mat-card-title>Rob Enloe Card</mat-card-title>
    <mat-card-subtitle>Angular 15 - Material UI</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-lg-image
    src="https://angular.io/assets/images/logos/angular/angular.svg"
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
      vestibulum volutpat turpis, nec tempor nisi rhoncus iaculis. Class aptent
      taciti sociosqu ad litora torquent per conubia nostra, per inceptos
      himenaeos. Donec a posuere mauris. Donec ut blandit sem. Proin efficitur
      aliquet nunc ac aliquet. Integer auctor tellus arcu, quis pulvinar lectus
      interdum ut. Etiam sit amet posuere nibh, et pharetra urna. Maecenas vel
      venenatis nisi, ut molestie ex. Etiam hendrerit libero elit. Aliquam erat
      volutpat. In pellentesque eget nulla vel viverra. Duis faucibus tincidunt
      eleifend. Etiam ac ultrices ipsum. Curabitur pretium, libero efficitur
      ornare vestibulum, erat elit vestibulum risus, ut facilisis est magna at
      arcu. Nulla facilisi. Aenean congue ex vel nulla sollicitudin tempor. Sed
      vel pharetra risus. Cras vehicula gravida venenatis. Integer ultrices
      dictum odio, sed semper tortor ultrices in.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>thumb_up</mat-icon>Like</button>
    <button mat-button><mat-icon>share</mat-icon>Share</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>
