<h1>Rob Enloe</h1>
<h2>Material UI Tutorial</h2>

<button
  matBadge="2"
  matBadgeColor="accent"
  matBadgeOverlap="false"
  mat-raised-button
  color="primary"
>
  Welcome
</button>
<br />
<br />

<div>
  <button
    matBadge="2"
    matBadgeColor="accent"
    matBadgeSize="small"
    mat-raised-button
    color="primary"
  >
    Welcome
  </button>
</div>
<br />

<div>
  <button
    matBadge="2"
    matBadgeColor="accent"
    matBadgePosition="before"
    matBadgeOverlap="false"
    matBadgeSize="large"
    matBadgeHidden="false"
    mat-raised-button
    color="primary"
  >
    Welcome
  </button>
</div>
<br>

<mat-icon matBadge="3">home</mat-icon>
